html,body,main,#root, .container, .App {
    height:100%;
}
.relative{
  position: relative;
}
.full-height{
  height: 100%
}  
.vcenter {
   display: inline-block;
   vertical-align: middle;
   float: none;
}